<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Robot Movement</title>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/styling.css">
  </head>
  <body>

    <h1>Robot Movement</h1>

    <div class="container" ng-controller="mainController">

      <div class="instruction">
        <h3>Enter Instructions  <span class="error" ng-if="errorMsg">{{errorMsg}}</span> </h3>
        <input type="text" ng-model="instruction" ng-click="clearInput()"/>
        <button ng-click="submitInstr()">Submit</button>
        <button ng-click="resetInput()">Reset</button>
      </div>

      <div class="direction">
        <h3>Location of robot</h3>
        <p>Direction: {{direction}} </p>
        <p>Steps taken forward: {{steps}}</p>
      </div>

      <div class="instrHist">
        <ul ng-repeat="instr in instrHist">
          <li>{{instr}}</li>
        </ul>
      </div>

    </div>

  </body>
</html>
